{% extends 'base.html' %}
{% block title%}
jobs
{% endblock %}
{% block content%}
<h1 class="text-center ">Here are some oppertunities for you</h1>
<hr>

<div class="container text-center bg-warning  ">


   {% for d in job%}

   
  <div class="card text-center mx-3 my-3" style="width: 18rem; display: inline-block;">
    <img src="{{d.job_image.url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{d.job_title}}</h5>
      <p class="card-text">{{d.job_category}}</p>
      <h6>{{d.salary}}</h6>
      <a href="#" class="btn btn-primary">Application</a>

    </div>
  </div>

   {% endfor %}
</div>
{% endblock %}
